* {
  margin: 0;
  padding: 0;
}

.header {
  height: 14svh;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
}

.header .logo {
  margin-left: 0.5em;
}

.header .logo h3 {
  font-size: 2.3rem;
  font-family: var(--font1);
  margin-top: 0em;
  position: relative;
  /* color: rgb(146 7 146); */
  color: white;
}

.header .logo span {
  font-size: 1.4rem;
  font-family: var(--font2);
  position: absolute;
  left: 0.9rem;
  top: 3.4em;
  /* color: white; */
  color: mediumorchid;
}

.content {
  height: 86svh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}

.content .content-items {
  max-width: 50vw;
  margin: auto;
  color: white;
  margin-left: 20em;
  margin-top: 10em;
}
