* {
  margin: 0;
  padding: 0;
}

.header {
  height: 14svh;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  margin-left: 0.5em;
}

.header .logo h3 {
  font-size: 2.3rem;
  font-family: var(--font1);
  margin-top: 0em;
  position: relative;
  /* color: rgb(146 7 146); */
  color: white;
}

.header .logo span {
  font-size: 1.4rem;
  font-family: var(--font2);
  position: absolute;
  left: 0.9rem;
  top: 9vh;
  /* color: white; */
  color: mediumorchid;
}

.content {
  height: 86svh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}

.content .content-items {
  position: relative;
  width: 30vw;
  max-width: 50vw;
  margin: auto;
  color: white;
  margin-left: 20em;
  margin-top: 10em;
  z-index: 2;
}

.content-items h3 {
  font-family: var(--font3);
  font-size: 2em;
}

.content-items span {
  font-family: var(--font6);
  font-size: 2em;
  color: yellow;
}

.content-items input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2em;
  font-family: var(--font7);
  font-size: 1em;
  color: black;
  padding: 10px;
  /* z-index: 2; */
}

.content-items button {
  width: 4em;
  height: 4em;
  position: absolute;
  background: none;
  border: none;
  padding: 0.5em;
  border-radius: 60%;
  top: 68%;
  right: -5em;
  background-color: rgba(255, 255, 255, 0.671);
}

.content-items i {
  font-size: 2em;
  color: white;
}

.box {
  content: "";
  height: 2.7em;
  width: 103%;
  background-color: rgba(255, 255, 255, 0.671);
  position: absolute;
  top: 7.1em;
  left: -0.5em;
  border-radius: 10px;
  z-index: -1;
}

.nav-items button {
  font-size: 1.5em;
  color: white;
  margin-right: 1em;
  background-color: transparent;
}

.footer {
  position: absolute;
  max-width: 90vw;
  margin: auto;
  bottom: 0.5em;
  font-size: 1em;
  color: white;
  font-family: var(--font6);
}

.dropdown-menu li a:hover {
  background-color: mediumorchid;
  color: white;
  transition: 0.2s ease-in-out;
}
